@media only screen and (max-width: 1024px) and (min-width: 300px) {

  .inputElement{
    font-size: 28px;
  }
  .label{
    font-size: 30px;
  }
  .inputInputElement{
    font-size: 28px;
  }
  .inputLabel{
    font-size: 30px;
  }
  .suggestion{
    font-size: 30px;
  }
  .flat{
    font-size: 26px;
  }
}

@media only screen and (min-width: 1024px) {

}
